{extend name='/themes/mass/common' }
{block name="header_link"}
<link rel="stylesheet" href="/static/template/mass//css/xk_pop_up.css">
<link rel="stylesheet" href="/static/template/mass//css/link.css">
{/block}
{block name="header"}
{include file='/themes/mass/common/header'}

{/block}


{block name="main"}
<div class="wrap">
    <div class="main">
        <!-- 主体 -->
        <div class="main_wrap">
            <div class="main_box link_wrap">
                <div class="link_wrap_title">
                    友情链接
                </div>
                <div class="link_wrap_rich_title">友联申请要求</div>
                <ol class="link_wrap_require">
                    <li>申请前的网站自检是否有诈骗的内容.</li>
                    <li>申请的网站必须无违规内容如黄赌毒.</li>
                    <li>申请请自检网站是否存在违规内容.</li>
                </ol>
                <p class="link_wrap_prompt">申请本站友联之前需要添加本站的友联，本站会验证后添加。</p>
                <div class="link_wrap_rich_title">本站友联格式</div>
                <div class="code">
                    <ul class="code_icon">
                        <li class="code_icon_item"></li>
                        <li class="code_icon_item"></li>
                        <li class="code_icon_item"></li>
                    </ul>
                    <pre style="color: #fff;">
网站名称：{$web_options['name']}


网站介绍：{$web_options['description']}


网站图标：{$url}
</pre>
                </div>
                <button class="apply_for_btn">点我申请</button>
                <div class="link_wrap_content">
                    {foreach $data as $key=>$item}
                    <div class="link_wrap_item">
                        <a href="{$item.url}" target="_blank">
                            <div class="link_wrap_item_wrap">
                                <span class="link_wrap_item_wrap_title">{$item.name}</span>
                                <div class="link_wrap_item_wrap_content">
                                    <p>{$item.description}</p>
                                    <img class="link_wrap_item_wrap_icon" src="{$item.icon ? '' : 'http://q1.qlogo.cn/g?b=qq&nk=' }{$item.icon ? $item.icon : $item['email'] }{$item.icon ? '' : '&s=640' }" alt="">
                                </div>
                            </div>
                        </a>
                    </div>
                    {/foreach}

                </div>
            </div>
        </div>
        {include file="/themes/mass/common/aside"}
    </div>
</div>
{/block}

{block name="footer"}
{include file='/themes/mass/common/footer'}
{/block}

{block name="action"}
{include file='/themes/mass/common/action'}
{/block}
{block name="footer_script"}
<script src="/static/template/mass/js/xk_pop_up.js"></script>

<script>
    var apply_for_btn = document.querySelector('.apply_for_btn')
    apply_for_btn.addEventListener('click', function () {

        xk_pop_up({
            height:'350px',
            title: "友联申请",
            content:[
                {
                    placeholder: "网站名称",
                    type: "text",
                    name: "name",
                    value: ""
                },
                {
                    placeholder: "网站介绍",
                    type: "text",
                    name: "description",
                    value: ""
                },
                {
                    placeholder: "站长邮箱",
                    type: "email",
                    name: "email",
                    value: ""
                },
                {
                    placeholder: "网站图标",
                    type: "text",
                    name: "icon",
                    value: ""
                },
                {
                    placeholder: "网站地址",
                    type: "text",
                    name: "url",
                    value: ""
                }
            ],
            success: function (result) {
                if(result.description == ''  || result.name == '' || result.url == '') {
                    alert('请完整的填写表单！')
                    return  false
                }
                $.ajax({
                    type:"post",
                    url:"/link/ApplyFor",
                    data:result,
                    success:function (res){
                        xk_pop_up_exit()
                        if(res.meta.status !== 200) {
                            xk_pop_up({
                                title: "友联申请",
                                content:res.meta.msg,
                                height:"144px",
                                confirmText:"确定",
                                showCancelButton:false,
                                success:function (){
                                    return true
                                }
                            })
                            return
                        }
                        xk_pop_up({
                            title: "友联申请",
                            content:"申请成功！",
                            height:"144px",
                            confirmText:"确定",
                            showCancelButton:false,
                            success:function (){
                                return true
                            }
                        })
                    }
                })
            }
        })
    })

    // 颜色数组值
    const color_arr = [
        '#F8D800',
        '#0396FF',
        '#EA5455',
        '#7367F0',
        '#32CCBC',
        '#F6416C',
        '#28C76F',
        '#9F44D3',
        '#F55555',
        '#736EFE',
        '#E96D71',
        '#DE4313',
        '#D939CD',
        '#4C83FF',
        '#F072B6',
        '#C346C2',
        '#5961F9',
        '#FD6585',
        '#465EFB',
        '#FFC600',
        '#FA742B',
        '#5151E5',
        '#BB4E75',
        '#FF52E5',
        '#49C628',
        '#00EAFF',
        '#F067B4',
        '#F067B4',
        '#ff9a9e',
        '#00f2fe',
        '#4facfe',
        '#f093fb',
        '#6fa3ef',
        '#bc99c4',
        '#46c47c',
        '#f9bb3c',
        '#e8583d',
        '#f68e5f',
    ]
    var link_wrap_item_wrap = document.querySelectorAll('.link_wrap_item_wrap')
    link_wrap_item_wrap.forEach((item, i) => {
        item.style.background = color_arr[Math.floor(Math.random() * color_arr.length)]
    });
</script>
{/block}


