{extend name='common'}
{block name="link"}
<link rel="stylesheet" href="/static/admin/css/site_set.css">
{/block}

{block name="header"}
{include file='common/header'}
{/block}
{block name="main"}
<div class="layui-body">
  <!-- 内容主体区域 -->
  <div class="layui-body_box">
    <div class="layui-body_wrap">
      <div class="layui-body_wrap_title">{$operation == 'update' ? '修改' : '添加'}轮播图</div>
      <div class="layui-row">
        <div class="layui-col-xs12  layui-col-md8 layui-col-md-offset2">
          <form  class="From">
            <div class="Form_item">
              <div class="From_item_title">标题 *</div>
              <input type="text"   id="title" required class="From_item_input" value="{$data['title'] ? $data['title'] : ''}">
              <input type="hidden"  id="sid" value="{$data['sid'] ? $data['sid'] : ''}">
              <input type="hidden" id="operation" value="{$operation}">
            </div>
            <div class="Form_item">
              <div class="From_item_title">网址 *</div>
              <input type="text"    id="url" required class="From_item_input" value="{$data['url'] ? $data['url'] : ''}">
              <div class="From_item_prompt">跳转的网址</div>
            </div>
            <div class="Form_item">
              <div class="From_item_title">图片网址 *</div>
              <input type="text"  id="img_url"   required class="From_item_input" value="{$data['img_url'] ? $data['img_url'] : ''}">
              <div class="From_item_prompt">背景图片的网址</div>
            </div>
            <div class="Form_item">
              <div class="From_item_title">序号</div>
              <input type="number"  id="numerical"  class="From_item_input" value="{$data['numerical'] ? $data['numerical'] : ''}">
              <div class="From_item_prompt">序号值越大越排在前面</div>
            </div>

            <input type="submit" class="From_submit" value="{$operation == 'update' ? '修改' : '添加'}">
          </form>
        </div>
      </div>

    </div>
  </div>
</div>
{/block}
{block name="aside"}
{include file='common/aside'}
{/block}

{block name="footer_script"}
<script>
 var From= document.querySelector('.From')
 From.onsubmit = function () {
   let title = $('#title').val()
   let url = $('#url').val()
   let img_url = $('#img_url').val()
   let numerical = Number($('#numerical').val()) || 0
   let operation = $('#operation').val();
   let sid = $('#sid').val() || null;
    let obj = {
     sid,
     title,
     url,
     img_url,
     numerical,
     operation
   }
   console.log(obj)
   $.ajax({
     type:'post',
     url:'/admin/slide_show/handle',
     data:obj,
     success:function (result) {
       if(result.meta.status !== 200) {
         layer.open({
           title: '提示信息',
           content: result.meta.msg,
         });
         return false
       }
       window.location.href="/admin/manage_slide_show"
       return false
     },
     error:function (){

     }

   })


   return false

 }
</script>
{/block}