{extend name='common'}
{block name="link"}
<link rel="stylesheet" href="/static/admin/css/site_set.css">
<link rel="stylesheet" href="/static/admin/css/template.css">
<style>
  .Form_item_radio {
    margin: 0 5px;
  }
</style>
{/block}

{block name="header"}
{include file='common/header'}
{/block}

{block name="main"}
<div class="layui-body">
  <!-- 内容主体区域 -->
  <div class="layui-body_box">
    <div class="layui-body_wrap">
      <div class="layui-body_wrap_title">外观设置</div>
      <div class="layui-row">
        <div class="layui-col-xs12  layui-col-md8 layui-col-md-offset2">
          <div class="layui-tab">
            <ul class="layui-tab-title">
              <li class="layui-this">可以使用的模板</li>
              <li>设置模板</li>
            </ul>
            <div class="layui-tab-content">
              <div class="layui-tab-item layui-show">
                <div class="template_title">
                  <div class="template_left">预览</div>
                  <div class="template_right">详细</div>
                </div>
                <div class="template_item">
                  <div class="template_left template_item_left">
                    <img src="/static/simple/preview.png" alt="">
                  </div>
                  <div class="template_right template_item_right">
                    <div class="template_item_title">Simple</div>
                    <div class="template_item_author">作者：Xkblog</div>
                    <div class="template_item_abstract">这是 Xkblog 系统的一套简约的皮肤</div>
                  </div>
                </div>
                <div class="template_item">
                  <div class="template_left template_item_left">
                    <img src="/static/simple/preview.png" alt="">
                  </div>
                  <div class="template_right template_item_right">
                    <div class="template_item_title">Simple</div>
                    <div class="template_item_author">作者：Xkblog</div>
                    <div class="template_item_abstract">这是 Xkblog 系统的一套简约的皮肤</div>
                  </div>
                </div>
              </div>
              <div class="layui-tab-item">55</div>
            </div>
        </div>
      </div>

    </div>
  </div>
</div>
{/block}
{block name="aside"}
{include file='common/aside'}
{/block}


{block name="footer_script"}
{/block}