<!DOCTYPE html>
<html lang="zh-cn">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{$web_options['name']}</title>
    <meta name="description" content="{$web_options['description']}" />
    <meta name="keywords" content="{$web_options['keywords']}" />
    <link rel="stylesheet" href="/static/public/layui-v2.6.5/css/layui.css">
    <link rel="shortcut icon" href="/static/home/favicon.ico" type="image/x-icon">
    <link rel="stylesheet" href="/static/home/lib/swiper/swiper-bundle.min.css">
    <link rel="stylesheet" href="/static/home/css/font-icon.css">
    {block name="header_link"}
    {/block}
    <link rel="stylesheet" href="/static/home/css/common.css">
</head>
<body>
{block name="Loading"}
{/block}
<!-- 公共头部 -->
{block name="header"}
{/block}
<!-- 主体-->
{block name="main"}

{/block}
<!-- 底部 -->
{block name="footer"}

{/block}
<!-- 公共侧边按钮 -->
{block name="action"}

{/block}
<canvas id="live2d" width="280" height="250px"></canvas>
<script src="/static/home/lib/live2d/live2d.js"></script>
<script>
    loadlive2d('live2d','{$TemplateConfig.live2dModel ? $TemplateConfig.live2dModel : '' }model.json')
</script>
<script src="/static/public/layui-v2.6.5/layui.js"></script>
<script src="http://libs.baidu.com/jquery/2.0.0/jquery.min.js"></script>
<script src="/static/home/lib/swiper/swiper-bundle.min.js"></script>
<script src="/static/home/js/common.js"></script>
<script src="/static/home/js/index.js"></script>
<script src="/static/home/js/Circle.js"></script>
{block name="footer_script"}
{/block}
</body>
</html>